{{!
    @template quiz_livequizmonitor/row_action_menu

    Per-row action menu for the live quiz monitor.

    Example context (json):
    {
        "userid": 42,
        "fullname": "Jane Student",
        "actionsmenulabel": "Actions",
        "notelabel": "Add note",
        "hasnote": false,
        "canextend": true,
        "extendrowlabel": "Extend time",
        "extendactionenabled": true,
        "attemptendat": 1700000000,
        "onesessionactive": false,
        "unblocklabel": "Unblock",
        "unblockactionenabled": false,
        "attemptid": 7
    }
}}
<div class="dropdown livequizmonitor-row-actions" data-region="row-actions">
    <button type="button"
            class="btn btn-icon dropdown-toggle no-caret d-flex align-items-center justify-content-center"
            data-toggle="dropdown"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            title="{{actionsmenulabel}}">
        <i class="icon fa fa-ellipsis-vertical fa-fw" aria-hidden="true"></i>
        <span class="sr-only">{{actionsmenulabel}}</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" role="menu">
        <a href="#"
           class="dropdown-item menu-action"
           role="menuitem"
           data-action="edit-note"
           data-userid="{{userid}}"
           data-studentname="{{fullname}}"
           data-hasnote="{{#hasnote}}1{{/hasnote}}{{^hasnote}}0{{/hasnote}}">
            <i class="fa-solid fa-book" aria-hidden="true"></i>
            <span class="menu-action-text">{{notelabel}}</span>
        </a>
        {{#canextend}}
        <a href="#"
           class="dropdown-item menu-action{{^extendactionenabled}} disabled{{/extendactionenabled}}"
           role="menuitem"
           data-action="extend-individual"
           data-userid="{{userid}}"
           data-studentname="{{fullname}}"
           data-attemptendat="{{attemptendat}}"
           {{^extendactionenabled}}aria-disabled="true" tabindex="-1"{{/extendactionenabled}}>
            <i class="fa-solid fa-clock" aria-hidden="true"></i>
            <span class="menu-action-text">{{extendrowlabel}}</span>
        </a>
        {{/canextend}}
        {{#onesessionactive}}
        <a href="#"
           class="dropdown-item menu-action{{^unblockactionenabled}} disabled{{/unblockactionenabled}}"
           role="menuitem"
           data-action="unblock-student"
           data-userid="{{userid}}"
           data-studentname="{{fullname}}"
           data-attemptid="{{attemptid}}"
           {{^unblockactionenabled}}aria-disabled="true" tabindex="-1"{{/unblockactionenabled}}>
            <i class="fa-solid fa-unlock" aria-hidden="true"></i>
            <span class="menu-action-text">{{unblocklabel}}</span>
        </a>
        {{/onesessionactive}}
    </div>
</div>
